<!DOCTYPE html>
<html>
  <head>
    <title>PASS ON</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%#= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="relative overflow-x-hidden text-black bg-white">
    <main class="container">
      <%= render 'menubar' %>
      <%= yield %>
    </main>
    <div class="-z-[98] overflow-hidden absolute inset-0 w-screen h-[50vh]">
      <img class="object-cover w-full h-7" src="../../../poloska.png" alt="">
    </div>
    <div id="BG_GRADIENT" class="-z-[99] fixed overflow-hidden inset-0 w-screen h-[50vh]"></div>
  </body>
</html>

